@page
@using RegisterLoginDemo.Pages;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .form-group {
        display: flex;
        flex-direction: column;
    }

        .form-group label {
            margin-bottom: 5px;
        }

        .form-group input {
            padding: 5px;
        }

    .form-actions {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

        .form-actions button {
            margin-bottom: 5px;
        }
</style>

<h2>Register</h2>

<form method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" asp-for="User.UserName" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" asp-for="User.Email" />
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" name="PhoneNumber" asp-for="User.PhoneNumber" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="passwordHash" name="PasswordHash" asp-for="User.PasswordHash" />
    </div>
    <div class="form-actions">
        <button type="submit">Register</button>
    </div>
</form>
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" style="color: red; font-weight: bold;">@TempData["ErrorMessage"]</div>
}

@if (TempData["Message"] != null)
{
    <div id="successMessage" style="color: green; font-weight: bold;">@TempData["Message"]</div>
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var successMessage = '@TempData["Message"]';
        if (successMessage) {
            var successMessageElement = document.getElementById('successMessage');
            successMessageElement.innerText = successMessage;
        }
    });
</script>